{% extends 'base.html' %}

{% block title %}BTC Prekyba{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Bitcoin Prekybos Modulis</h1>
    <p>Šis puslapis šiuo metu kuriamas.</p>
    
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Prekybos funkcijos
                </div>
                <div class="card-body">
                    <p>Pasirinkite norimą funkciją:</p>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action">
                            Prekybos signalai (kuriama)
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">
                            Automatinė prekyba (kuriama)
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">
                            Prekybos istorija (kuriama)
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}